.content{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  flex-wrap: wrap;
}
.form{
  display: flex;
  flex-direction: column;
}
.title{
  text-align: center;
}

.content-button{
  display: flex;
}

.button{
  margin: 10px;
}

.th{
  padding: 30px;
  text-align: center;
}

.content-table{
  margin-top: 5%;
}
.mat-column-id {
 border-right : 1px solid currentColor;
 padding-right : 24px ;
 text-align : centro;
}
